<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="AgendaProvaEvoluaEntities" connectionString="metadata=res://*/Model.AgendaDB.csdl|res://*/Model.AgendaDB.ssdl|res://*/Model.AgendaDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-F3H6D41\SQLEXPRESS;initial catalog=AgendaProvaEvolua;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AgendaProvaEvoluaEntities1" connectionString="metadata=res://*/Model.DBAgenda.csdl|res://*/Model.DBAgenda.ssdl|res://*/Model.DBAgenda.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-F3H6D41\SQLEXPRESS;initial catalog=AgendaProvaEvolua;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>