<html>
<head>
    <title></title>
</head>
<body>
    <div style="border-top:3px solid #22BCE5">&nbsp;</div>
    <span style="font-family:Arial;font-size:10pt">
        Ola <b>[nomeContato]</b>,<br /><br />
        Você foi convidado para o(s) evento(s): <br /><br />
        [listaEventos]
        <br /><br />
        Contamos com sua presenca!!<br /><br /><br />

        att,<br />
        <span style="color: blue;">AGE</span>NDA TE<span style="color: blue;">AM</span>
    </span>
    <div style="border-top:3px solid #22BCE5">&nbsp;</div>
</body>
</html>
